body {
    background-color: #fcfdff;
}

.fileInfoBox {
    background-color: white;
    margin: 3px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    width: 210px;
    height: 20px;
    text-align: left;
    line-height: 20px;
    color: #808080;
}

.fileNameBox {
    max-width: 210px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileData {
    float: right;
}

.fileSize {
    color: #2B6FB6;
}

.clear-both {
    clear: both;
}

